@charset "utf-8";

/* 웹폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* root 설정 */
:root{
  /* 색 */
  --m_bg_color:#fff;
  --f_color1:#333;
  --f_color2:#006eff;
  --f_color3:#212772;
  --f_color4:#cccccc;
  --f_color5:#0000ff;
  --s_color01:#215499;
  --s_color02:#042653;
  --s_color3:#2986a7;
  /* 폰트 */ 
  --m_font : "Noto Sans KR";
  /* 폰트크기 */
  --f_size_base : 12px;
  --f_size1:14px;
  --f_size2:16px;
}

/*body */
body{
  overflow-x: hidden; /*가로 스크롤바 안생기게*/
  background-color: var(--m_bg_color);
  font-family: var(--m_font),'맑은 고딕', sans-serif;
  font-size: var(--f_size_base);
  color: var(--f_color1);
}

/* 링크서식 */
a{
  color: var(--f_color1);
  font-size: var(--f_size_base);
  text-decoration: none;
}
